@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center h-100 d-flex justify-content-center align-items-center">
    <img class="plant-pot-img" src="/img/flower.png" style="height: 80vh; object-fit: cover; object-position: -20% 0;">
    <div class="ml-auto text-right">
        <div class="font-weight-bold happiness">Happiness</div>
        <div class="text font-weight-light">grows in your</div>
        <div class="font-weight-bolder flower font-italic">flowers</div>
    </div>
</div>
    
    
    
<style>
    .plant-pot-img {
        height: 85vh;
    }
    .happiness {
        font-size: 10vh;
    }
    .text {
        font-size: 5vh;
    }
    .flower {
        font-size: 15vh;
    }
</style>