@page
@model PlantShop.Pages.Login.AccessDeniedModel
@{
    ViewData["Title"] = "Forbidden";
}

<div class="text-center w-100">
    <h1>Access Denied</h1>
    <p>You don't have permission to access the page you are looking for</p>
    <img src="/img/help2.jpg" style="height:60vh" />
</div>

