@page
@model PlantShop.Pages.Products.CheckOut
@{
    ViewData["title"] = "Check Out";
}
<div class="container p-3">
    <form method="post" asp-page-handler="Checkout">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Check Out</h2>
                <hr />
            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <label asp-for="User.Fullname"></label>
                <input asp-for="User.Fullname" class="form-control" />
                <span asp-validation-for="User.Fullname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="User.Address"></label>
                <input asp-for="User.Address" class="form-control" />
                <span asp-validation-for="User.Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="User.Telephone"></label>
                <input asp-for="User.Telephone" class="form-control" />
                <span asp-validation-for="User.Telephone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="User.Email"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label>Amount</label>
                <input asp-for="Cart.Total" class="form-control" readonly />
            </div>

            <div class="mb-3">
                <select class="form-control">
                    <option>Cash On Delivery</option>
                </select>
            </div>

            <input type="hidden" value="@Model.Cart.Id" name="cartId"/>

            <button type="submit" class="btn btn-primary" style="width:150px;">Check Out</button>
            <a asp-page="Cart" class="btn btn-secondary" style="width:150px;"> Back to Cart</a>

        </div>

    </form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }