/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    scroll-behavior: smooth;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*Override default CSS*/
:root {
  --font-family: 'Poppins', sans-serif;
  --lightest: #fff;
  --light: #F3F3F3;
  --medium: #C4C4C4;
  --dark: #444;
  --darkest: #000;
  --body-background: var(--lightest);
  --body-color: var(--light);
  --headings-font-weight: 700;

  --primary: #fafafa;
  --primary-hover: #729260;
  --primary-contrast: #ffffff;
  --primary-inverse: var(--lightest);

  --secondary: #729260;
  --secondary-hover: #3b5f33;
  --secondary-contrast: #24431d;
  --secondary-inverse: var(--lightest);

  --info: #444;
  --info-hover: rgb(100, 99, 99);
  --info-contrast: rgb(100, 99, 99);
  --info-inverse: var(--lightest);

  --highlight: #ffffff;
  --highlight-hover: #ececec;
  --highlight-contrast: #ececec;
  --highlight-inverse: var(--darkest);

  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --dark: #343a40;
  --white: #fff;
}
html, body {
    background-color: var(--primary);
    /* height: 100vh; */
    font-family: Poppins;
    color: var(--dark);
    scroll-behavior:smooth;
}

a {
    color: var(--secondary);
}

.btn-secondary {
  background-color: var(--secondary);
}

.btn-secondary:hover {
  background-color: var(--secondary-hover);
}

.btn-outline-secondary:hover {
  background-color: var(--secondary);
}

.inverse {
    font-size: 5vh;
    background-color: var(--secondary);
    color: var(--primary);
}

.btn-primary {
    border-color: var(--secondary);
    background-color: var(--secondary);
    color: var(--lightest);
}

.btn-primary:hover {
    background-color: var(--secondary-hover);
    border-color: var(--secondary-hover);
}

.text-primary {
    color: var(--secondary) !important;
}

.h2.inverse {
    padding-left: 2vw;
}